[defaults]
host_key_checking = False
timeout = 30
inventory = inventory/prod.yml
remote_tmp = /tmp/ansible-${USER}
local_tmp = /tmp/ansible-local-${USER}

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o PreferredAuthentications=publickey
pipelining = True
control_path = /tmp/ansible-ssh-%%h-%%p-%%r